<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Registration</title>

    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body>

<div class="container">
    <h1>Login Page</h1>
    <form th:action="@{/login}" method="post">
        <div class="form-group">
            <label for="email"> Email </label> :
            <input type="email" id="email" name="email" placeholder="Enter Email Address" autofocus="autofocus">
        </div>
        <div class="form-group">
            <label for="password">Password</label>:
            <input type="password" id="password" name="password" placeholder="Enter Password" onkeyup="checkCapsLock(event)">
        </div>
        <div id="capsLockWarning">Caps Lock is ON!</div><br>
        <div class="form-group">
            <button type="submit">Login</button>
        </div>
    </form>
    <div class="remember-forgot">
        <label><input type="checkbox"> Remember me</label>
        <a href="/forgot-password" th:href="@{/forgot-password}">Forgot Password?</a>
    </div>
    <div class="form-group">
        <span>New user? <a href="/registration" th:href="@{/registration}">Register here</a></span>
    </div>
</div>


<script>
    // Funcție pentru verificarea stării tasta CapsLock
    function checkCapsLock(event) {
        const capsLockOn = event.getModifierState && event.getModifierState('CapsLock');
        if (capsLockOn) {
            document.getElementById('capsLockWarning').style.visibility = 'visible';
        } else {
            document.getElementById('capsLockWarning').style.visibility = 'hidden';
        }
    }
</script>
</body>

</html>
