<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Gastro Tracker</title>
    <link rel="stylesheet" th:href="@{/css/welcome.css}">

</head>
<body>

<h1>Welcome to Gastro Tracker</h1>

<p>
    Gastro Tracker is your personalized tool for managing and monitoring dietary habits. Whether you're a patient or a doctor, this application aims to simplify the process of tracking and maintaining a healthy lifestyle for your digestive system.
</p>

<div class="buttons-container">
    <form action="/redirect" method="post">
        <button type="submit" name="role" value="patient">Patient</button>
    </form>
    <form action="/redirect" method="post">
        <button type="submit" name="role" value="doctor">Doctor</button>
    </form>
</div>

<div class="info-container">
    <div class="patient-info">
        <h2>For Patients:</h2>
        <ul>
            <li>Effortlessly log your daily meals, including breakfast, lunch, and dinner.</li>
            <li>Monitor meal times and note any discomfort or symptoms experienced.</li>
            <li>Easily search and filter through your meal history.</li>
            <li>Schedule and manage appointments directly within the app.</li>
            <li>Track ongoing treatments and medications.</li>
            <li>Collaborate with your healthcare provider by sharing meal data for more informed discussions during appointments.</li>
        </ul>
    </div>

    <div class="doctor-info">
        <h2>For Doctors:</h2>
        <ul>
            <li>Gain valuable insights into patients' eating patterns and symptoms.</li>
            <li>Review detailed meal histories to better understand correlations with gastrointestinal health.</li>
            <li>Provide personalized recommendations based on recorded data.</li>
            <li>Enhance communication and engagement with patients for improved medical outcomes.</li>
        </ul>
    </div>
</div>

<p>
    Gastro Tracker empowers you to actively manage your digestive health. Start using the app today to gain a better understanding of your food choices and their impact on your overall well-being.
</p>

</body>
</html>
